// Info
	
.info-box {
	border: 1px solid rgba(white,.1);
	background: rgba(white, .05);
	border-radius: 3px;
	&__body {
		text-align:center;
		padding: 1.5rem;
	}
	address {
		font-size: .8em;
		font-style: normal;
		font-weight: 600;
	}
}