extends _layouts/main

block head_end
	link(rel="stylesheet" href="/css/styles.css") 

block content
	include _partials/nav
	
	.container
		include _partials/hero

		include _partials/info

		include _partials/hubspot

block body_end
	script(type="text/javascript" src="/js/script.js")