// - Info

.row
	.offset-by-three.six.columns
		.info-box
			.info-box__body
				p
					strong Wednesday, March 21, 2018	
					br
					| 7:30PM - 10:30PM
				p(style="margin-bottom:0;")
					strong @
						span.event-color TOPGOLF
					br
					| Birdie Bar Lount (With 12 Golf Bays)
					address 4627 Koval Lane &middot; Las Vegas, NV 89109